* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}

button {
    border: none;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
}

.line {
    width: 100%;
    height: 5px;
    background: #FF7500;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.logo {
    display: block;
    width: 227px;
    height: 60px;
}

.logo:hover {
    cursor: pointer;
    opacity: .8;
}

.logo:active {
    cursor: pointer;
    opacity: .6;
}

.logo img {
    width: inherit;
    height: inherit;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-list a {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.23px;
    letter-spacing: 1px;
    position: relative;
    color: #000000;
}

.nav-list a::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: transparent;
}

.nav-list a.active::before {
    background-color: #FF7500;
}

.base-btn {
    padding: 12px 24px;
    border-radius: 4px;
    background-color: #FF7500;
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 0.5px;
}

.base-btn:hover {
    cursor: pointer;
    opacity: .8;
}

.base-btn:active {
    cursor: pointer;
    opacity: .6;
}

.bars {
    display: none;
}



.hero {
    background: #252420;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left .line {
    width: 80px;
    margin-bottom: 40px;
}

.hero-left h1 {
    margin-bottom: 25px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.hero-left p {
    margin-bottom: 32px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;

}

.bor {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 0.5px;
}

.hero-right {
    transform: translateY(40px);
    border-radius: 8px;
    width: 510px;
    height: 510px;

}

.hero-right img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
}


.about {
    padding: 210px 0;
}

.about .line {
    width: 80px;
    margin-bottom: 24px;
}

.about-title {
    margin-bottom: 72px;
    color: #000000;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 86.4px;
    letter-spacing: 0.5px;
    max-width: 435px;
}

.about-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(314px, 1fr));
    gap: 40px;
}

.about-col h3 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 20px 0;
}

.about-col p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}


.price {
    padding: 160px 0;
}

.price-content {
    border-radius: 12px;
    background-color: #252420;
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    align-items: center;
}

.price__left {
    max-width: 440px;

}

.price__left h1 {
    margin-bottom: 24px;
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.5;

}

.price__left div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.price__left p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #fff;
}

.price__right {
    width: 440px;
    height: 440px;
    transform: translateY(-80px);
}

.price__right img {
    width: inherit;
    height: inherit;
}


footer {
    background: #f8f8f8;
    padding: 56px 0;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-top .logo {
    width: 227px;
    height: 60px;
}

.footer-top .logo img {
    width: inherit;
    height: inherit;
}

.footer-icons {
    display: flex;
    gap: 16px;
}

.footer-icons svg:active path {
    fill: #ff7500;

}

.footer-icons svg:active {
    opacity: 0.6;
}

.footer-bottom {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.footer-bottom ul a {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #252420;
}
.footer-bottom ul a:active{
    color: #FF7500;
}
.footer-bottom ul a:hover{
    opacity: 0.6;
}